@page "/"
@using MotorKontor.Backend.Models
@using MotorKontor.Backend.Interfaces
@inject IService service


@code {
    public Index() { } //Emtpty initilizer

    private List<Customer> NewCustomers = new List<Customer>();
    private List<Registration> NewRegistrations = new List<Registration>();

    protected override async Task OnInitializedAsync()
    {
        NewCustomers = await service.GetLatestCustomersListAsync();
        NewRegistrations = await service.GetLatestRegistrationsListAsync();
    }
}
 

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left shadow h-100 py-2" style="border-left: .25rem solid #1cc88a !important">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Monthly income
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                23452 KR
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left shadow h-100 py-2" style="border-left: .25rem solid #4e73df !important">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                test
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                23452 KR
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left shadow h-100 py-2" style="border-left: .25rem solid #4e73df !important">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Todays work done
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left shadow h-100 py-2" style="border-left: .25rem solid #f6c23e !important">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending registrations
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                21
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header bg-primary text-white py-3">
                    New registrations
                </div>
                <div class="card-body">
                    @if (!NewRegistrations.Any())
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        @foreach (Registration c in NewRegistrations)
                        {
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">@c.LeasedCreated.ToString() @c.RegistrationID</li>
                            </ul>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header bg-primary text-white py-3">
                    New customers
                </div>
                <div class="card-body">
                    @if (!NewCustomers.Any())
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        @foreach (Customer c in NewCustomers)
                        {
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">@c.Firstname @c.Lastname</li>
                            </ul>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

