@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 d-flex justify-content-sm-between"style="z-index: 99">
        <h4 class="justify-content-center">Gruppe: Brian, Nicolai og Nikolaj</h4>
        <div class="">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
            <img class="img-profile rounded-circle" src="/img/profile-user-svgrepo-com.svg" style="height: 2rem; width: 2rem;"/>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
